<div piwik-content-block content-title="{{ 'LoginOIDC_OpenIDConnect'|translate }}">

  <p>
    {{ 'LoginOIDC_OIDCIntro'|translate }}
  </p>

  {% if isLinked %}
    <p>
      <strong>{{ 'LoginOIDC_AccountLinked'|translate(remoteUserId) }}</strong>
      <br />
      <br />
      <a class="red lighten-2 btn btn-link" href="{{ linkTo({'module': 'LoginOIDC', 'action': 'unlink'}) }}">{{ 'LoginOIDC_Unlink'|translate }}</a>
    </p>
  {% else %}
    <p>
      <strong>{{ 'LoginOIDC_AccountNotLinked'|translate }}</strong>
      <br />
      <br />
      <a class="btn btn-link" href="{{ linkTo({'module': 'LoginOIDC', 'action': 'signin'}) }}">{{ 'LoginOIDC_Link'|translate }}</a>
    </p>
  {% endif %}

</div>
